.container {
  margin: 3em;
  text-align: center;
  justify-content: center;
  position: relative;
}

.exit-btn {
  z-index: 999;
  margin-top: 2%;
  margin-left: 92% !important;
}

#match-result {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  height: 12em;
  width: 30em;
  background-color: white;
  border: 1px solid black;
  display: none;
}

.play-zone {
  display: flex;
  justify-content: center;
}

.fist {
  font-size: 10em;
  cursor: pointer;
  margin-bottom: 0;
}

.cpu-fist {
  transform: rotate(270deg);
}

.user-fist {
  transform: rotate(-270deg);
}

.choice-titles {
  font-weight: bold;
}
.shake {
 /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: 4;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-25deg); }
  20% { transform: translate(-3px, 0px) rotate(25deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(25deg); }
  50% { transform: translate(-1px, 2px) rotate(-25deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-25deg); }
  80% { transform: translate(-1px, -1px) rotate(25deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-25deg); }
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
  
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;

  padding-bottom: 1em;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #f8f07d;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.user-options-radio {
  text-align: start;
}


/* CSS */
.start-btn {
  background-color: #fff000;
  border-radius: 12px;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  transition: 200ms;
  width:10em;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.start-btn:not(:disabled):hover,
.start-btn:not(:disabled):focus {
  outline: 0;
  background: #f4e603;
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.start-btn:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}


/* mobile sizes */
/* iphone6 to 13 pro max */
@media only screen and (min-width: 375px) and (max-width: 430px){
  .container {
    margin: 1em;
  }
  .play-zone {
    display: block;
  }
  .fist {
    font-size: 5em;
    margin: 0;
  }
  .user-options-radio {
    display: flex;
  }

  #match-result {
    width: 19em;
  }
  .exit-btn {
    margin-left: 88% !important;
  }

  #gameStart {
    margin-top: 5em;
    position: absolute;
    z-index: 99;
    right: 1%;
    width: 100%;
  }
}